@media screen and (min-width:320px) and (max-width:768px) {

    .img-tabela{
        display: none;
    }

    .userdropdown{
        display: none;
    }

    .linlresp{
        display: block;
    }

    .foot{
        font-size:medium;
        padding-right: 2rem;
    }

}

@media screen and (min-width:769px) and (max-width:900px){

    .listalinks{
        gap: 1rem;
    }
}