
@media screen and (min-width:320px) and (max-width:394px) {

    .img-tabela{
        display: none;
    }

    header{
        max-width: 100vw;
    }

    .userdropdown{
        display: none;
    }

    .linlresp{
        display: block;
    }

    footer{

        max-width: 100vw;
    }

    .foot{
        font-size:medium;
        padding-right: 2rem;
        flex-direction: row;
    }

    .footer-content{
        flex-direction: column;
    }

    main{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .trash{
        display: none;

    }
}

@media screen and (min-width:395px) and (max-width:768px) {

    .img-tabela{
        display: none;
    }

    header{
        max-width: 100vw;
    }

    .userdropdown{
        display: none;
    }

    .linlresp{
        display: block;
    }

    footer{

        max-width: 100vw;
    }

    .foot{
        font-size:medium;
        padding-right: 2rem;
        flex-direction: row;
    }

    .footer-content{
        flex-direction: column;
    }

    main{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .trash2{
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:900px){

    .listalinks{
        gap: 1rem;
    }
}